# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.obj
*.bak
*.so
*.log
*.o
*.o.d
.DS_Store

android-project/build
android-project/obj
android-project/.gradle
android-project/libs

/visualc_net/Debug/
/visualc_net/.vs/
/visualc_net/Intermediate/